.google notebook artifacts/
static/brand/social/facebook-cover-2800x1128.jpg
static/brand/social/facebook-cover-2560x1024.jpg
static/brand/social/facebook-cover-1640x664_1.jpg
.env*
.env.local
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.pytest_cache/
.hg/
.DS_Store
node_modules/
dist/
build/
*.egg-info/
.vscode/
.cache/
.backups/
